
.search{
    display: flex;

    ion-input{
        --padding-start:10px;
        --background: #E7E6E8;
        border-radius: 8px;
        height: 34px;
    }
    ion-icon{
        margin-left: 10px;
    }
    .inp{
        position: absolute;
        margin-right:5%;
    }
}

.inactive-search{
    display:flex;
    flex: 1;
    transform: 0.4s;
}

.active-search{
    display: flex;
    flex: 0.8;
    transition: 0.4s;
}


.hidden-btn{
    position: absolute;
    top: 5px;
    right: -100px;
    transition: 0.4s;
}

.visible-btn{
    position: absolute;
    z-index: 100;
    right: 0px;
    transition: 0.4s;
}

/* .search-overlay{
    width: 100%;
    height: 100%;
    background: #0000003d;
    position: absolute;
    opacity: 0;
} */